{% extends 'base.html.twig' %}

{% block title %}
	Inscription à la Newsletter
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/styleFormNewsletter.css') }}">
{% endblock %}


{% block body %}
	<h1>Inscription à la Newsletter</h1>

	{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.submit) }}
	{{ form_end(form) }}
{% endblock %}
