{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleIRegistration.css') }}">
{% endblock %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password) }}
        <button type="submit">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
